:root{
    font-size: 60%;
}
h1{

 margin-top: 14rem;
    text-align: center;
    font-size: x-large;
    
}

#container{
 display: block;
margin: auto;
height: 35rem;
width: 21rem;
background-color :rgb(85, 177, 219);
border-radius: 3%;

padding: 1rem;


}
#container #display{
    display: block;
    height:10%;
    width: 90%;
    margin: 1rem auto;
   
    border-radius: 1rem;
    border-color: seashell;
   
    margin-bottom: 0rem;
    font: medium Archive;
    
}
#container #teclado{
    outline-style: none;

   
    margin: 1.5Rem ;

    display: block;

}
#container #teclado .entrada{
    height: 4.7rem;
    width: 4.2rem;
    outline-style: none;

    margin: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    border: 1%;
    border-color:whitesmoke;
    font-size: medium;
}
#container #teclado #limpar{
    margin: 0;
    height: 3.5rem;
    width: 7rem;
    outline-style: none;

   margin-left: 60%;
   
}

footer{
display: block;
padding-top: 2rem;
font: 1rem archive;
}